<nav class="navbar navbar-expand-lg navbar-dark bg-success">
  <%= link_to image_tag("vm-logo-removebg-50px.png"), root_path, class: "navbar-brand " %>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse " id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <%= link_to "Productos", products_products_path, class: " btn btn-success" %>
      </li>
      <li class="nav-item">
        <%= link_to "Añadir Productos", adding_products_path, class: " btn btn-success" %>
      </li>
    </ul>
    <ul class="navbar-nav justify-content-end">
      <li class="navi-tem">
        <%= link_to "Contactos", home_contacts_path, class: " btn btn-success" %>
      </li>
      <li class="nav-item">
        <%= link_to "Carrito", carts_show_path, class: " btn btn-success" %>
      </li>
      <div class="dropdown btn-group mr-1" >
        <a class="btn btn-success dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-expanded="false">
          <%= image_tag "home/userLogo.png", class: "img-fluid", style: "width: 23px" %>
        </a>
        <% if user_signed_in? %>
          <div class="dropdown-menu" aria-labelledby="dropdownMenuLink" style="margin-left: -90px">
            <%= button_to "Cerrar Sesion", destroy_user_session_path, method: :delete, class: "btn btn-success dropdown-item" %>
            <%= link_to "Editar perfil", edit_user_registration_path, class: "btn btn-success dropdown-item" %>
          </div>
        <% else %>
          <div class="dropdown-menu" aria-labelledby="dropdownMenuLink" >
            <%= link_to "Registrarse", new_user_registration_path, class: "btn btn-success dropdown-item" %>
            <%= link_to "Iniciar sesión", new_user_session_path, class: "btn btn-success dropdown-item" %>
          </div>
        <% end %>
      </div>
    </ul>
  </div>
</nav>
