<p style="color: green"><%= notice %></p>

<%= render @adding_product %>

<div>
  <%= link_to "Edit this adding product", edit_adding_product_path(@adding_product) %> |
  <%= link_to "Back to adding products", adding_products_path %>

  <%= button_to "Destroy this adding product", @adding_product, method: :delete %>
</div>
