<h1>Productos</h1>
<div>
  <div >
    <%= form_with url: products_products_path, method: :get do |form| %>
      <div class="input-group mb-3" >
        <%= form.search_field :query, placeholder: "Nombre del producto...", class: "form-control", autofocus: true, id: 'products-search-bar'  %>
        <div class="input-group-append">
          <%= button_to raw("<i class=\"bi bi-search\"></i>".html_safe), products_products_path, class:'btn btn-primary btn-info' %>
        </div>
      </div>
    <% end %>
  </div>
  <%# 0px 0px -20px -20px %>
 <div id="adding_products" class="row mx-auto" style="width: 100%">
    <% @adding_products.each do |product| %>
      <div class="card product-responsive" style="width: 17.5rem; margin-right: 20px; margin-bottom: 20px; font-size: 17px">
        <%= image_tag "products/#{product.image}", alt: "image of #{product.name}", class: "card-img-top" %>
        <div class="card-body">
          <h1 class="card-title display-5"> <%= product.name %> </h5>
          <p class="card-text card-text-responsive"> 
            <%= product.description %><br /> 
            - Cuesta <%= product.price %>$ por <%= product.unit %>
          </p>
        </div>
        <% unless session[:cart].include?(product.id.to_s) %>
          <div class="card-body">
            <%= button_to "Añadir al carrito", products_addToCart_path(:productId => product.id, :productqnt => product.qnt), class: "btn btn-primary btn-hover " %>
          </div>
        <% else %>
          <div class="card-body">
            <div class="row">
              <%= button_to "Producto en el carrito", products_addToCart_path(:productId => product.id, :productqnt => product.qnt), class: "btn btn-outline-primary col", disabled: true %>
              <div class="col">
                <%= button_to "X", carts_remove_from_cart_path(:id => product.id), method: :delete, class: "btn btn-danger float-right " %>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    <% end %>
      <% render 'layouts/alerts' %>
  </div>
</div>

